.lista {
    background-color: #ebecf0;
    border-radius: 8px;
    width: 300px;
    padding: 12px;
    flex-shrink: 0;
    height: fit-content;
}

.lista-titulo {
    font-size: 16px;
    font-weight: 600;
    padding: 4px 8px;
    margin-bottom: 12px;
}
.lista-btn-adicionar {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  color: #555;
  font-size: 14px;
}

.lista-btn-adicionar:hover {
  background-color: #091e4214;
}
